# --- Executables ---
*.exe
*.exe~
*.dll
*.so
*.dylib
recipe-tracker

# --- Go specific ---
vendor/
go.sum

# --- Elm specific ---
elm-stuff/
# We usually keep js/elm.js because it's required for the Go binary to run
# but we ignore the build artifacts
index.html.js

# --- Project Specific Data ---
# If you want to keep your recipes private and NOT on GitHub:
# recipes.db
# Printables/
# backups/

# --- OS / IDE specific ---
.DS_Store
.vscode/
*.swp
*.bak